.main-btn {
  @extend .btn-reset;
  @extend .flex-centered-content;

  font-family: var(--secondary-font);
  text-transform: uppercase;

  width: 100%;
  max-width: fit-content;
  padding: 18px 24px 14px;
  border-radius: 30px;
  border: 2px solid transparent;
  color: var(--dark);
  background-color: var(--primary);

  &--outlined {
    text-transform: initial;
    color: var(--primary);
    border: 2px solid var(--primary);
    background-color: transparent;
  }

  @extend .hover-opacity;
}
