-
  const featuresList = [
    {
      icon: 'feature-icon-1.svg',
      title: 'Быстро запускаем проекты в работу',
      text: 'У нас слаженный механизм, позволяющий быстро и эффективно оценить проект, заключить договор, подписать NDA и в кротчайшие сроки сдать проект.'
    },

    {
      icon: 'feature-icon-2.svg',
      title: 'Индивидуальный подход к каждому ',
      text: 'Мы с радостью разработаем уникальный дизайн сайта, который будет отображать вашу уникальность и удовлетворять всем вашим требованиям и пожеланиям.',
    },

    {
      icon: 'feature-icon-3.svg',
      title: 'Честность  к себе и клиенту',
      text: 'Искренность в каждом действии - ключ к успешному отношению с клиентом, продуктивно влияющим на  ваш бизнес.',
    },

    {
      icon: 'feature-icon-4.svg',
      title: 'Справедливая рыночная цена',
      text: 'Обеспечим достойное качество, которое соответсвует реальной стоимости услуг и является разумным для клиентов.',
    },
  ]