.accordeon
  .accordeon-item.expanded
    .accordeon-header
      span.accordeon-title Заголовок аккордеона
    .accordeon-content
      .lw-content
        p Тескт аккордеона <strong>Тескт аккордеона</strong> Тескт аккордеона Тескт аккордеона
        span просто текст
  .accordeon-item
    .accordeon-header
      span.accordeon-title Заголовок аккордеона 2
    .accordeon-content
      .lw-content
        p Тескт аккордеона
  .accordeon-item
    .accordeon-header
      span.accordeon-title Заголовок аккордеона 3
    .accordeon-content
      .lw-content
        p Тескт аккордеона
          