include ../sections/index-page-sections/intro
include ../sections/index-page-sections/features 
include ../sections/index-page-sections/about 
include ../sections/index-page-sections/workflow 
include ../sections/index-page-sections/reviews
include ../sections/index-page-sections/faq 
//- include ../sections/index-page-sections/projects 
//- include ../sections/common/offer 