include ../../mixins/main-btn

section.lw-base-section.intro
  .lw-container.intro__container
    .intro__content
      h1.lw-section-title Разработка и&nbsp;создание интернет-сайтов

      p.lw-main-text Ваш сайт - ваша визитная карточка в мире интернета! Доверьте его создание нам и захватите взгляды!

      .intro__content-personal
        +main-btn(
          {
            text: 'Отправить заявку',
            cls: '',
          }
        )

        +main-btn(
          {
            text: 'Отправить заявку',
            cls: '',
          }
        )
    
    img(src="../assets/img/hero-img.png" alt="Littleweb.ru - Разработка и создание интернет-сайтов" width="900" height="600")




