:root {
  --white: #fff;
  --black: #000000;

  --primary: #a2d729;
  // --accent: #05376c;
  // --warning: #fff4d4;
  // --danger: #f58128;
  // --skyblue: #e5eaf0;
  // --light: #e0e0e0;
  // --gray: #f8f8f8;

  --main-bg-color: #161414;
}
